{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">AjaxTask</div>
            <div class="panel-body">
                <form id="formAdd" novalidate>
                    <div class="clearfix">
                        {% for field in form %}
                            <div class="col-xs-6">
                                <div class="form-group" style="position: relative; margin-bottom: 20px">
                                    <label>{{ field.label }}</label>
                                    {{ field }}
                                    <span class="error-msg" style="color: red; position: absolute"></span>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    <div class="col-xs-12">
                        <button id="btnAdd" type="button" class="btn btn-primary"> 提 交</button>
                    </div>
                </form>
            </div>


        </div>
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                任务列表
            </div>

            <!-- Table -->
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>标题</th>
                    <th>级别</th>
                    <th>负责人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in queryset %}
                    <tr>
                        <th scope="row">{{ item.id }}</th>
                        <td>{{ item.title }}</td>
                        <td>{{ item.get_level_display }}</td>
                        <td>{{ item.user.user }}</td>
                        <td>
                            <a type="button" class="btn btn-primary btn-xs" href="/num/{{ item.id }}/edit/">编辑</a>

                            <a type="button" class="btn btn-danger btn-xs"
                               href="/num/{{ item.id }}/del/">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_string }}
        </ul>
    </div>


    <div>
        <h1>Ajax学习</h1>
        <h3>示例1</h3>
        <input id="btn1" type="button" class="btn btn-primary" value="提 交1">

        <h3>示例3</h3>
        <form id="form3">
            <input type="text" name="user" placeholder="姓名">
            <input type="text" name="age" placeholder="年龄">
            <input type="text" name="email" placeholder="邮箱">
            <input type="text" name="intro" placeholder="介绍">
        </form>
        <input id="btn3" type="button" class="btn btn-primary" value="提 交">
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            // 页面加载完成之后代码自动执行
            bindBtn1Event();

            bindBtn3Event();

            bindBtnAddEvent();
        })


        function bindBtn3Event() {
            $("#btn3").click(function () {
                $.ajax({
                    url: '/ajax/task/',
                    type: 'post',
                    data: $('#form3').serialize(),
                    datatype: 'JSON',
                    success: function (res) {
                        console.log(res);
                        console.log(res.status);
                        console.log(res.data);
                    }
                })
            })
        }

        function bindBtnAddEvent() {
            $("#btnAdd").click(function () {
                $(".error-msg").empty();
                $.ajax({
                    url: '/ajax/add/',
                    type: 'post',
                    data: $('#formAdd').serialize(),
                    dataType: 'JSON',       // 因为一个字母大小写的问题而耽误了3个小时来找bug :(
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功");
                            // JS刷新页面，重新载入
                            window.location.reload();
                        } else {
                            {#console.log(res.error);#}
                            $.each(res.error, function (name, data) {
                                // console.log(name, data);
                                $("#id_" + name).next().text(data[0]);
                            })
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}